extends layout

block content
  div.pack-outer
    div#tweet-pack-cont.tweet-pack-cont
  div.top-tweets
    div placeholder top tweets

block post-js
  script.
    tweetPack.run();
    tweetsClient.run();
