extends layout

block content
  div.pack-outer
    div#tweet-pack-cont.tweet-pack-cont
  div#top-tweets-outer.top-tweets.invisible
    div.top-tweets-title
      span
        span#top-tweet-ordinal-number 1
        sup#top-tweet-ordinal-indicator st
      | most popular tweet
    div#top-tweet-container.top-tweet-container
  div.logotype

block post-js
  script.
    tweetPack.run();
    tweetsClient.run();
    topTweetsPresenter.present();
