extends layout

block content
  div.global-title
    | most&nbsp;
    strong popular tweets
    | &nbsp;in real-time
  div.pack-outer
    div#tweet-pack-cont.tweet-pack-cont
  div#top-tweets-outer.top-tweets.invisible
    div#top-tweet-ordinal-number.top-tweet-ordinal-number
    div#top-tweet-container.top-tweet-container
  div.logotype

block post-js
  script.
    tweetPack.run();
    tweetsClient.run();
    topTweetsPresenter.present();
