extends layout

block content
  div.pack
    svg#tweet-pack-chart.tweet-pack-chart(xmlns="http://www.w3.org/2000/svg")
  div.top
    div placeholder top tweets

block post-js
  script.
    tweetPackChart.run();
    tweetsClient.run();
