extends layout

block content
  div#hashtag-message.hashtag-message.visible
    | Use
    span #scotsecure
    | when tweeting to win a bottle of champagne!
  div#question-message.question-message
  div#tweeties-prize.tweeties-prize.visible
    | Win&nbsp;
    strong champagne
    | !
  div#tweeties.tweeties.invisible
  div.logotype

block post-js
  script.
    tweetsClient.run2();
