extends layout

block content
  div#hashtag-message.hashtag-message.visible
    | use
    span #FelizMartes
    | when tweeting
  div#question-message.hashtag-message
    | how do you keep up with security threats?
  div#tweeties-prize.tweeties-prize.visible
    | win an&nbsp;
    strong iPad
    | !
  div#tweeties.tweeties.invisible
  div.logotype

block post-js
  script.
    tweetsClient.run2();
