extends layout

block content
  div.hashtag-message
    | use
    span #sixnations
    | when tweeting
  div#tweeties.tweeties.invisible
  div.logotype

block post-js
  script.
    tweetsClient.run2();
