extends layout

block content
  div.hashtag-message
    | use
    span #DTS16
    | when tweeting
  div#tweeties.tweeties.invisible
  div.logotype
  div.whisky Win a Bottle of Whisky!

block post-js
  script.
    tweetsClient.run2();
