doctype html
html
  head
    title data talent visualisation
    link(rel='stylesheet', href='/assets/scss/main.css')
  body
    block content
    script(src='/assets/js/vendor/d3/d3.min.js')
    script(src='/assets/js/vendor/socket.io/socket.io.js')
    script(src='/assets/js/main.js')
